.card {
	position: relative;
	max-width: 600px;
	height: 200px;
	box-shadow: 3px 3px 18px 1px #e2e2e2;
	border-radius: 10px;
	background: white;
	margin: 1em 0;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	gap: 30px;

	-webkit-transition: height 0.5s ease-in-out;
	-moz-transition: height 0.5s ease-in-out;
	transition: height 0.5s ease-in-out;
}
.card-expanded {
	height: 345px;
	-webkit-transition: height 0.5s ease-in-out;
	-moz-transition: height 0.5s ease-in-out;
	transition: height 0.5s ease-in-out;
}
.card .image {
	height: 100%;
	overflow: hidden;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.card img {
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	width: 200px;
	height: 350px;
	margin-top: -50px;
	-webkit-transition: margin 0.5s ease-in-out;
	-moz-transition: margin 0.5s ease-in-out;
	transition: margin 0.5s ease-in-out;
}
.card-expanded img {
	margin-top: 0px;
	-webkit-transition: margin 0.5s ease-in-out;
	-moz-transition: margin 0.5s ease-in-out;
	transition: margin 0.5s ease-in-out;
}
.card h3 {
	font-size: 25px;
	color: #3503ff;
}
.card p {
	font-weight: 400;
	color: #3503ff;
}
.card .expand-icon {
	position: absolute;
	height: 20px;
	width: 20px;
	top: 10px;
	right: 20px;
	border-radius: 50%;
	box-shadow: 3px 3px 18px 1px #e2e2e2;
	/* padding: 5px; */
	color: gray;
	background-color: #c5c5c5;
	font-size: 20px;
	/* font-weight: 500; */
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
}
.hero-details {
	/* overflow: hidden; */
}
.powers {
	transition: display 0.5s ease-in-out;
	transition-delay: 1s;
	display: none;
}
powers-active {
	transition: display 0.5s ease-in-out;
	transition-delay: 1s;
	display: block;
}
.powers h3 {
	margin: 10px 0;
}
